*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background: #ddd;
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: table;
    overflow: hidden;
}

#timer {
    overflow: hidden;
    background: teal;
    width: 100%;
    height: 100%;
    color: #ffa500;
    font-size: 40px;
    font-weight: bold;
    font-family: cursive;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#timer span {
    display: inline-block;
}

/* Responsive Design */
@media only screen and (max-width: 320px) {
    #timer {
        font-size: 30px;
    }
}

@media only screen and (min-width: 568px) {
    #timer {
        font-size: 60px;
    }
}

@media only screen and (min-width: 768px) {
    #timer {
        font-size: 120px;
    }
}
